doctype html
html
  head
    title Deep's Dance Academy
    block scripts
    block style      
  body
    block content
    footer#footer
          | Copyright © 2021 DeepDanceAcademy.com | All rights reserved 
