extends base.pug

block scripts
    script(src='./static/js/type.js' type="module")

block style 
    style
       include ../static/style.css  
    
block content    
    section#introSection
        div Welcome to Deep's Dance Academy
        div.line
          div.master Master 
          span.auto
        div.dance
          img(src="/static/img/michel.png")
    section#missionSection
        h2 Our Mission
        div.fix
          div.card
              h3 Dance Perfection
              div.card-box
                  div.card-img1
                      img(src="/static/img/dance1.png")
                  div.card-content
                      p This is the best dance academy of the universe

          div.card
              h3 Dance the way you like
              div.card-box
                  div.card-img
                      img(src="/static/img/dance2.png")
                  div.card-content
                      p(style='padding-right: 20px') This is the best dance academy of the universe

          div.card
              h3 Expert Teaching
              div.card-box
                  div.card-img
                      img(src="/static/img/dance3.png")
                  div.card-content
                      p This is the best dance academy of the universe
    section#table
        div
          h1 Fee Chart Is Given Below:
        table.tbl
         thead
          tr
           th S.No
           th Plans
           th Fees(monthly)
         tbody
          tr
           td 1
           td Belly Fat Loss Diet Plan
           td 2000
          tr
           td 2
           td Workout(Personal Trainer)
           td 2000
          tr
           td 3
           td Workout(VIP MEMBERSHIP)
           td 4000  
        a(href='/membership')
         button.btn1
           | Become Our Member Now     
    section#sponsorsSection
          h2 Our Sponsors
            div.spcard
              div.spsec
                img(src= "/static/img/spons1.png",class= "spImage")
                img(src= "/static/img/spons2.jpg",class= "spImage")
                img(src= "/static/img/spons3.png",class= "spImage")
                img(src= "/static/img/spons4.png",class= "spImage")


