*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #e4dc00;
    font-family: 'Yeon Sung';
    padding: 13px, 14px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.round{
    display: flex;
    justify-content: center;
    align-items: row;
    color: #e4dc00;
    /* border: 1px solid #e4dc00; */
    /* background-color: #020412; */
    /* border-radius: 28px; */
}
.log :hover{
    cursor: pointer;
}
.reg :hover{
    cursor: pointer;
}
.round a{
    text-decoration: none;
    color: #e4dc00;
}
.log{
    font-size: 21px;
    font-weight: bold;
    border-radius: 8px;
    margin: 3px 5px;
    border: 1px solid #e4dc00;
    background-color: #020412; 
    border-radius: 28px;
    padding: 0px 6px;
}
.log :hover{
    color: white;
    font-size: 22px;
}
.slash{
    font-size:26px ;
    font-weight: bold;
    color:#020412
}
.reg{
    font-size: 21px;
    font-weight: bold;
    border-radius: 8px;
    margin: 3px 5px;
    border: 1px solid #e4dc00;
    background-color: #020412; 
    border-radius: 28px;
    padding: 0px 6px;
}
.reg :hover{
    color: white;
    font-size: 22px;
}
.line{
    display: flex;
}
.master{
    padding: 0px 17px;
}
span {
    color: yellow;
}
.auto{
    display: inline-block;
    height: 40px;
}
#logo{
    display: flex;
    color: #020412;
    align-items: center;
    margin: 0 14px;
    font-size: 25px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    /* filter: invert(1); */
    border-radius: 25px;
} 
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}
#navbar li{
    list-style: none;
    font-weight: bold;
    font-size: 27px;
}
.sp{
    width: 300px;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
    color: #020412;
}
#navbar li a:hover{
    color: white;  
}
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background-color:#020412;;
    height: 425px;
    font-weight: bold;
    padding-top: 18px;
}
.dance img{
    border-radius: 100%;
}
#missionSection{
    
    height: 326px;; 
    width: 67%;
    margin: auto;
}
.fix{
    display: flex;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#missionSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
 }
.card-img1 img{
    height: 131px;
    padding: 0 3px;
    /* margin: 5px 9px; */
 }
.card-img img{
    height: inherit; 
 }
 h2{
    text-align: center;
    font-size: 42px;
    padding: 20px;
 }
#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
 }
 .spcard{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.spsec{
    background-color: white;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.spImage{
    height: 100px;
    margin: 20px;
 }
          
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}
#sponsorsSection{
    height: 300px;
    background-color: #cb50a5c7;
}
#footer{
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    max-height: 19vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#table{
    background-color: palegreen;
    height: 315px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
}
.tbl{
    height: 171px;
    width: 443px;
}
.btn1{
    outline: none;
    background-color: white;
    color: #179301;
    /* width: 80px; */
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 8px;
    /* height: 30px; */
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}
.btn1:hover{
    background-color: #179301;
    color: white;
    font-size: 20px;
}