*{
    margin: 0;
    padding: 0;
}

h1{
    padding: 40px;
    margin-bottom: 45px;
    font-size: 37px; 
    font-size: 37px;
}
.myInput{
    margin: 10px;
    padding: 8px;
    width: 25rem;
    border-radius: 12px;
    border: 2px solid #c7c7c7;
    outline: none;
    height: 18px;
}
.infoCard{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: auto;
   margin-bottom: 190px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 192px;
    max-width: 50%;
}

.myForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn{
    outline: none;
    background-color:#cb1b1b;
    color: white;
    /* width: 80px; */
    padding: 8px 16px;
    border: 2px solid black;
    border-radius: 8px;
    /* height: 30px; */
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
}