*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: #e4dc00;
    font-family: 'Yeon Sung' ;
    padding: 13px, 14px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 430px;
}
.log{
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #020412;
    border-radius: 8px;
    margin: 0px 5px;
}
.slash{
    font-size:28px ;
    font-weight: bold;
}
.reg{
    font-size: 24px;
    font-weight: bold;
    border: 2px solid #020412;
    border-radius: 8px;
    margin: 0px 5px;
}
.line{
    display: flex;
}
.master{
    padding: 0px 17px;
}
span {
    color: yellow;
}
.auto{
    display: inline-block;
    height: 40px;
}
#logo{
    display: flex;
    color: #020412;
    align-items: center;
    margin: 0 14px;
    font-size: 25px;
    margin-right: 40px;
}
#logo img{
    height: 42px;
    /* filter: invert(1); */
    border-radius: 25px;
} 
#navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
}
#navbar li{
    list-style: none;
    font-weight: bold;
    font-size: 27px;
}
#navbar li a{ 
   text-decoration: none;
    padding: 13px 20px;
    color: #020412;
}
#navbar li a:hover{
    color: white;  
}
#introSection{
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ZCOOL QingKe HuangYou';
    font-size: 65px;
    align-items: center;
    background-color:#020412;;
    height: 425px;
    font-weight: bold;
    padding-top: 18px;
}
.dance img{
    border-radius: 100%;
}
#missionSection{
    
    height: 326px;; 
    width: 67%;
    margin: auto;
}
.fix{
    display: flex;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    margin: 23px 20px;
    height: 209px;
}
.card h3{
    text-align: center;
    margin: 0 12px;
    margin-top: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

#missionSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.card-img{
    height: 131px;
    padding: 0 14px;
    margin: 5px 9px;
 }
.card-img1 img{
    height: 131px;
    padding: 0 3px;
    /* margin: 5px 9px; */
 }
.card-img img{
    height: inherit; 
 }
 h2{
    text-align: center;
    font-size: 42px;
    padding: 20px;
 }
#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto
 }
 .spcard{
    display: flex;
    justify-content: center;
    align-items: center;
 }
.spsec{
    background-color: white;
    height: 175px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
}

.spImage{
    height: 100px;
    margin: 20px;
 }
          
#introSection div.small{
    font-size: 52px;
    padding: 5px;
}
#sponsorsSection{
    height: 300px;
    background-color: #cb50a5c7;
}
#footer{
    background-color: black;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}